build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>PA China Chipsa Test</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#394551">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div class="page-preloader">
      <div class="page-preloader-top">
        <div class="page-preloader-top_logo"><img src="assets/images/logo.png"></div>
        <div class="page-preloader-top_progress-bar">
          <div class="page-preloader-top_progress-bar--progress"></div>
        </div>
      </div>
    </div>
    <div class="device-horizontal-alert">
      <p class="rotate-alert">Пожалуйста, поверните свой телефон</p>
      <p class="iphone5-alert">Ширины вашего экрана недостаточно</p>
    </div>
    <nav class="nav">
      <div class="nav-content">
        <div class="nav-content_phone">
          <div class="nav-content_phone--icon"></div><a class="nav-content_phone--text" href="tel:8–800–234–21–23">8–800–234–21–23</a>
        </div>
        <div class="nav-content_logo"><img src="assets/images/logo.png" alt="Логотип"></div>
        <div class="nav-content_right-menu">
          <ul class="nav-content_right-menu--list text-muted">
            <li> <a class="text-muted" href="#">Стоимость</a></li>
            <li> <a class="text-muted" href="#">Доставка из Китая</a></li>
            <li> <a class="text-muted" href="#">Контакты</a></li>
          </ul>
          <button class="btn request-btn">Запрос</button>
          <button class="btn-menu"><span class="line line-top"></span><span class="line line-bottom"></span></button>
        </div>
      </div>
      <div class="preloader"></div>
    </nav>
    <div class="video-bg" data-mouse="mouseout">
      <div class="video-bg_overlay">
        <div class="video-bg_overlay--line"></div><span class="video-bg_overlay--close" data-play="stop">&#215;</span>
      </div>
      <video src="assets/videos/videobg.mp4" autoplay muted loop></video>
    </div>
    <section class="container slide slide-first slide-first-not_loaded">
      <div class="left-column">
        <div class="left-column_heading">
          <div class="left-column_heading--dark"> Из Китая в&nbsp;Россию</div>
          <div class="left-column_heading--light">доставка любых&nbsp;грузов под&nbsp;ключ</div>
        </div>
        <div class="left-column_description text-muted"><span>от 45 кг до целого контейнера</span></div>
        <div class="left-column_request">
          <button class="btn btn-light">Оставить заявку  </button>
        </div>
      </div>
      <div class="middle-column">
        <p class="middle-column_text text-muted">
          Компания PACIFIC ASIA GROUP 
          с&nbsp;2007 года предоставляет 
          качественный сервис по доставке 
          грузов из Китая.
        </p>
        <div class="middle-column_play">
          <div class="middle-column_play--icon"></div>
          <div class="middle-column_play--text"><a href="#" data-play="play">Смотреть видео</a></div>
        </div>
      </div>
      <div class="right-column">
        <div class="right-column_pagination">
          <div class="right-column_pagination--page"><span>01</span></div>
          <div class="right-column_pagination--total"><span>
              /0 <br>5</span></div>
        </div>
      </div>
    </section>
    <section class="container full-width slide slide-second">
      <div class="tab tab-left tab-selected">
        <div class="container row row-top">
          <div class="row-top_left-column">
            <h1 class="row-top_left-column--heading">Транспортные услуги</h1>
          </div>
          <div class="row-top_middle-column">
            <ul class="row-top_middle-column--tabs">
              <div class="tab-indicator" data-tab="left"></div>
              <li class="tab" data-tab="left">Основные</li>
              <li class="tab" data-tab="right">Дополнительные </li>
            </ul>
          </div>
          <div class="row-top_right-column">
            <div class="row-top_right-column_pagination">
              <div class="row-top_right-column_pagination--page"><span>02</span></div>
              <div class="row-top_right-column_pagination--total"><span>
                  /0 <br>5</span></div>
            </div>
          </div>
        </div>
        <div class="container row row-bottom">
          <div class="row-bottom_slider">
            <div class="slider">
              <div class="slider-wrapper">
                <div class="slider-wrapper_item">
                  <div class="slider-wrapper_item-inner">
                    <div class="row top-row">
                      <div class="top-row_left-column">
                        <p>Экспресс&nbsp;авиа доставка&nbsp;из&nbsp;Китая</p>
                      </div>
                      <div class="top-row_middle-column">
                        <p class="text-muted">Перевозка сборных грузов из Китая в составе сборного контейнера оптимально подходит для перевозки небольших партий в разумные сроки по низкой цене.</p>
                      </div>
                      <div class="top-row_plane-pic"><img src="assets/images/plane.png" alt="plane"></div>
                    </div>
                    <div class="row bottom-row">
                      <button class="btn btn-dark">Подробнее</button>
                      <div class="bottom-row_conditions">
                        <ul>
                          <li>Минимальная партия груза —<span>400 кг.</span></li>
                          <li>Срок доставки —<span>45–50 дней</span></li>
                          <li>Стоимость доставки — <span>0,9 $ / кг.</span></li>
                        </ul>
                      </div>
                      <div class="bottom-row_slider-indicators">
                        <div class="indicator active"></div>
                        <div class="indicator"></div>
                        <div class="indicator"></div>
                        <div class="indicator"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="controls"><a class="controls-btn controls-btn--left"></a><a class="controls-btn controls-btn--right"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab tab-right">
        <div class="container row row-top">
          <div class="row-top_left-column">
            <h1 class="row-top_left-column--heading">Транспортные услуги</h1>
          </div>
          <div class="row-top_middle-column">
            <ul class="row-top_middle-column--tabs">
              <div class="tab-indicator" data-tab="left"></div>
              <li class="tab" data-tab="left">Основные</li>
              <li class="tab" data-tab="right">Дополнительные </li>
            </ul>
          </div>
          <div class="row-top_right-column">
            <div class="row-top_right-column_pagination">
              <div class="row-top_right-column_pagination--page"><span>02</span></div>
              <div class="row-top_right-column_pagination--total"><span>
                  /0 <br>5</span></div>
            </div>
          </div>
        </div>
        <div class="container row row-bottom">
          <div class="row-bottom_slider">
            <div class="slider">
              <div class="slider-wrapper">
                <div class="slider-wrapper_item">
                  <div class="slider-wrapper_item-inner additional">
                    <div class="row top-row">
                      <div class="top-row_item">
                        <h5 class="top-row_item--heading">Таможенные оформления&nbsp;грузов из&nbsp;Китая</h5>
                        <p class="top-row_item--text text-muted">Полный комплекс услуг по таможенной очистке товаров из Китая: широкие возможности с Pacific Asia Group.</p>
                      </div>
                      <div class="top-row_item"> 
                        <h5 class="top-row_item--heading">Финансовое сопровождение</h5>
                        <p class="top-row_item--text text-muted">Вам необходимо оплатить товар? - предложим различные варианты перевода денег в Китай для юридических лиц.</p>
                      </div>
                      <div class="top-row_item">
                        <h5 class="top-row_item--heading">Поиск производителей в&nbsp;Китае</h5>
                        <p class="top-row_item--text text-muted">Помощь в поиске надежного производителя абсолютно бесплатно. Вы получите прямые контакты заводов из базы производителей, проверенных нами на реальных поставках, либо мы осуществим новый поиск.</p>
                      </div>
                      <div class="top-row_item">
                        <h5 class="top-row_item--heading">Эскпорт в&nbsp;Китай</h5>
                        <p class="top-row_item--text text-muted">Вы получите всю необходимую информацию для выхода на новый рынок и организации успешного экспорта в Китай из России.</p>
                      </div>
                      <div class="top-row_item">
                        <h5 class="top-row_item--heading">Оборудование из&nbsp;Китая</h5>
                        <p class="top-row_item--text text-muted">Недорогие станки для малого бизнеса или целые автоматизированные линии – вы можете выгодно купить оборудование в Китае и получить его на своем складе в Москве или любом другом городе РФ.</p>
                      </div>
                      <div class="top-row_item">
                        <h5 class="top-row_item--heading">Импорт из&nbsp;Китая</h5>
                        <p class="top-row_item--text text-muted">Транспортная компания Pacific Asia Group предлагает услуги организации экспорта и импорта из Китая.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-content_describe"><span>Листайте вниз</span></div>
        <div class="footer-content_arrow" data-slide="next"></div>
        <div class="footer-content_socials">
          <div class="icon icon-facebook"></div>
          <div class="icon icon-twitter"></div>
        </div>
      </div>
    </footer>
    <script src="assets/js/script.js"></script>
  </body>
</html>

src/index.pug
doctype html
html(lang="ru")
  head
    title PA China Chipsa Test
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="theme-color" content="#394551")
    link(rel="stylesheet", href="assets/css/style.css")
  body
    .page-preloader
      .page-preloader-top
        .page-preloader-top_logo
          img(src="assets/images/logo.png")
        .page-preloader-top_progress-bar
          .page-preloader-top_progress-bar--progress

    .device-horizontal-alert
      p.rotate-alert Пожалуйста, поверните свой телефон
      p.iphone5-alert Ширины вашего экрана недостаточно
    include templates/_header
    .video-bg(data-mouse='mouseout')
      .video-bg_overlay
        .video-bg_overlay--line
        span.video-bg_overlay--close(data-play='stop') &#215;
      video(src="assets/videos/videobg.mp4" autoplay muted loop)
    include templates/_firstSlide
    include templates/_secondSlide
    include templates/_footer
    script(src="assets/js/script.js")
      
